<html>
	<head>
		<meta name="apple-mobile-web-app-capable" content="yes">
		<script src="https://aframe.io/releases/1.0.4/aframe.min.js"></script>
		<script src="https://unpkg.com/aframe-environment-component@1.1.0/dist/aframe-environment-component.min.js"></script>
		<script src="https://cdn.jsdelivr.net/gh/donmccurdy/aframe-extras@v6.1.0/dist/aframe-extras.min.js"></script>
		<script src="https://raw.githubusercontent.com/aframevr/aframe/master/examples/showcase/link-traversal/js/components/link-controls.js"></script>
		<script src="https://aframe.io/aframe/examples/showcase/link-traversal/js/components/camera-position.js"></script>
	</head>
	<body>
		

  
	<a-scene raycaster="far: 100; objects: [link];" cursor="rayOrigin: mouse" camera-position>
			
		<a-assets>
			<img id="thumbAdd" crossOrigin="anonymous" src="addlink.png">
			<a-asset-item id="dogee" src="dogee3.glb"></a-asset-item>
			<a-asset-item id="fence" src="fence.glb"></a-asset-item>
			<a-asset-item id="well" src="well.glb"></a-asset-item>
			<img id="firstmessage" src="firstmessage.png">
			<img id="secondmessage" src="secondmessage.png">
			<img id="pamphoto" src="pamphoto.jpg">
			
			<!-- <video id="videoview" autoplay loop="true" src="news.mp4"></video> -->
		  </a-assets>
			<a-link href="add.html" title=" + " position="-0.5 1 -1" scale="0.15 0.15 0.15" rotation="0 30 0" image="#thumbAdd" ></a-link>
			<a-link href="scene.html" title=">" position="-2.5 1.5 -1" scale="0.15 0.15 0.15" rotation="0 30 0" image="#thumbAdd" ></a-link>
			<a-link href="index.html" title="<" position="3 1.5 1" scale="0.15 0.15 0.15" rotation="0 -75 0" image="#thumbAdd" ></a-link>

			<a-image src="#firstmessage" width="1.2" height="1.4" position="-1 1.5 -1" opasity="0.5" rotation="0 15 0" 
				animation="property: position; to: -1 1.7 -1; dur: 2000; dir: alternate; loop: true">
			</a-image>
			<a-image src="#secondmessage" width="1.2" height="1.4" position="2 1.5 -0.4" opasity="0.5" rotation="0 -15 0" 
				animation="property: position; to: 2 1.7 -0.4; dur: 2000; dir: alternate; loop: true">
			</a-image>
			<a-image src="#pamphoto" width="1.2" height="0.8" position="3 1.5 -0.2" opasity="0.5" rotation="0 -45 0" 
				animation="property: position; to: 3 1.55 -0.2; dur: 2000; dir: alternate; loop: true">
			</a-image>

			<a-entity environment="preset: forest;"></a-entity>
			<a-entity sound="src: #ambient; autoplay: true; loop: true"></a-entity>

			<a-light type="point" castShadow="true" angle="90" intensity="0.5" position="0 5 -1"></a-light>
			<a-entity gltf-model="#dogee" animation-mixer="clip: sitting" position="0 0 -1" scale="1.5 1.5 1.5" shadow="receive: true"></a-entity>
			<a-entity gltf-model="#fence" position="-3.5 -0.2 -3" rotation="0 45 0"></a-entity>
			<a-entity gltf-model="#well" position="1 0 -2" scale="0.3 0.3 0.3" rotation="0 45 0" shadow="receive: true"></a-entity>
			<!-- <a-video src="#videoview" width="3.2" height="1.8" position="-2 1.6 -4"></a-video> -->
		</a-scene>
	</body>
</html>