<!DOCTYPE HTML>
<html>
	<head>
		<title>Memorium</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<h1>Memorium</h1>
				<p>VR мемориал и виртуальный музей "Дорога памяти"</p>
			</header>

		<!-- Signup Form -->
		<ul style="list-style-type:none; padding: 0;">
			<li><a class="brk-btn" href="add.html">Добавить героя</a></li>
			</br>
			<li><a class="brk-btn" href="emptyvr.html">Войти в VR</a></li>
			</br>
			<li>
			</br>
			<form id="signup-form" method="post" action="#">
				<input type="text" name="text" id="text" placeholder="Поиск по названию" />
				<input type="button" id="btn" value="Перейти" onClick="javascript: window.open('http://localhost:8000/' + document.getElementById('text').value);" />
			</form>
			</li>
		</ul>

		<!-- Footer -->
			<footer id="footer">
				<ul class="copyright">
					<li>&copy; MorrisonTeam</li><li>Поделись в соцсетях: </li>
				</ul>
				<ul class="icons">
					<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon brands fa-vk"><span class="label">VK</span></a></li>
				</ul>
				
			</footer>

		<!-- Scripts -->
			<script src="assets/js/main.js"></script>

	</body>
</html>